.logo {
  display: inline-block;
  width: 50px;

  &-white {
    [data-bs-theme="light"] & {
      display: none;
    }
  }

  &-black {
    [data-bs-theme="dark"] & {
      display: none;
    }
  }
}