@import "bootstrap";
@import "logo";

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;


  > .content {
    flex: 1 0 auto;
  }

  > header,
  > footer {
    flex-shrink: 0;
  }
}

.nav-tg-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/tg_logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}