@import "bootstrap";

@import "badges";
@import "buttons";
@import "pageHeight100";
@import "controlButtons";
@import "logo";

.nav-tg-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/tg_logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.list-group-item {
  & > a {
    color: var(--bs-body-color);
  }
}